/* Custom stil Bootstrap üzərinə */
body {
    background-color: #f4f6f9;
}

.card {
    margin-bottom: 20px;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card:hover {
    transform: translateY(-5px);
}

.exam-button {
    margin-bottom: 10px;
}

.exam-button:last-child {
    margin-bottom: 0;
}

/* Responsive dizayn üçün əlavə tənzimləmələr */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}
.btn {
    padding: 12px 20px; /* Düymələri bir az böyüdür */
    font-size: 1.1rem; /* Düymə yazısını iri tutur */
}
.display-5 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}